<div id="<%= dom_id page %>">

  <h5 class="card-title">
    <%= page.title %>
  </h5>

  <p class="card-text">

    <%= page.body %>
  </p>

  <p class="card-text">
    <%= url_for_page page %>
  </p>
</div>

