<div class="container">
<div class="row">
<div class="col">


<h1>New page</h1>

<%= render "form", page: @page %>

<br>

<div>
  <%= link_to "Back to pages", admin_pages_path(@page) %>
</div>
</div>
</div>
</div>
