   
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">

      <%= link_to "Rails CMS", root_path, class: "navbar-brand"  %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">



      <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item active">
        <%= link_to root_path do %>
            <span class="nav-link"> Home <span class="sr-only">(current)</span></span>
          <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "Pages", admin_pages_path, class: "nav-link" %>
      </li>
    </ul>
    </div>
  </div>
</nav>
